services:
  backend:
    environment:
      NODE_ENV: production
      STORE_CORS: https://dbp-music-hub.de
      ADMIN_CORS: https://dbp-music-hub.de/dbp-admin
      AUTH_CORS: https://dbp-music-hub.de/dbp-admin,https://dbp-music-hub.de
    command: sh -c "command -v ffmpeg >/dev/null 2>&1 || (apt-get update && apt-get install -y ffmpeg); yarn install && yarn build && yarn start"
    ports: []  # Keine externen Ports in Production

  frontend:
    command: sh -c "yarn install && yarn build && yarn start -- -H 0.0.0.0 -p 3000"
    ports: []

  admin:
    command: sh -c "yarn install && yarn build && yarn start -- -H 0.0.0.0 -p 7000"
    ports: []

  postgres:
    ports: []  # Nur intern erreichbar
    
  redis:
    ports: []  # Nur intern erreichbar

  haproxy:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./haproxy/haproxy.prod.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - /etc/letsencrypt/live/dbp-music-hub.de:/etc/haproxy/certs:ro
