services:

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: medusa
      POSTGRES_PASSWORD: medusa
      POSTGRES_DB: medusa
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U medusa"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
         
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    container_name: medusa-backend
    build: ./backend
    restart: always
    ports:
      - "9000:9000"
          
    volumes:
      - ./backend/.env:/hub/.env
      - ./backend/dbp-music-hub-backend/src:/hub/src
      
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_healthy
    command: sh -c "npm run dev"


  frontend:
    container_name: nextjs-frontend
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://backend:9000
    volumes:
      - ./frontend:/app    
      - /app/node_modules  
      
    depends_on:
      - backend
    command: sh -c "npm run dev"

volumes:
  pgdata: 